doctype html
html
    head
        title Users Table
    body
        h1 Users List
        table(border="1")
            thead
                tr
                    th Name
                    th Age
                    th Email
            tbody
                each user in users
                    tr
                        td= user.name
                        td= user.age
                        td= user.email
