<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список продуктів</title>
    <style>
        .in-stock { color: green; }
        .out-of-stock { color: red; }
    </style>
</head>
<body>
    <h1>Список продуктів</h1>
    <ul>
        <% products.forEach(product => { %>
            <% if (product.inStock) { %>
                <li class="in-stock"><%= product.name %></li>
            <% } else { %>
                <li class="out-of-stock"><%= product.name %></li>
            <% } %>
        <% }) %>
    </ul>
</body>
</html>
